<br>
<div class="d-flex align-items-center flex-wrap">
    <div class="me-auto">
      <button class="btn btn-outline-primary mb-4 mb-sm-0">Добавить</button>
    </div>
    <input name="search" class="form-control mr-sm-2 me-2 mb-sm-0" #search style="width: 600px;" placeholder="Поиск" type="text">
    <div class="d-flex">
      <button (click)="onSearch()" class="btn btn-outline-primary me-2" type="submit">Поиск</button>
      <button (click)="onReset()" class="btn btn-outline-danger">Сброс</button>
    </div>
  </div>
<hr>
@if (routes.length>0) {
  <table class="table slideTo" [@fadeIn]>
    <tbody>
      <tr *ngFor="let rout of routes">
        <th scope="row">{{rout.id}}</th>
        <td>{{rout.starPoint}}</td>
        <td>{{rout.endPoint}}</td>
        <td>{{rout.price}} сум</td>
        <td><button class="btn btn-outline-danger" (click)="openDeleteModal(rout.id)">Удалить</button></td>
      </tr>
    </tbody>
</table>
}@else {
  <div class="container" style="height: 400px;">
    <div class="d-flex justify-content-center slideTo" >
        <h5>Маршурт не найден....</h5>
    </div>
</div>
}
<br>
<div class="d-flex justify-content-center" *ngIf="pagination">
  <pagination class="pagination-lg"
  [boundaryLinks]="true" 
  [totalItems]="pagination.totalItems"
  [itemsPerPage]="pagination.itemsPerPage"
  [maxSize]="6"
  [(ngModel)]="pagination.currentPage"
  (pageChanged)="changePage($event)"
  previousText="&lsaquo;" 
  nextText="&rsaquo;" 
  firstText="&laquo;" 
  lastText="&raquo;">

</pagination>
</div>
