<div class="row justify-content-md-center">
    <div class="col-sm-3">
        <app-routes-card></app-routes-card>
    </div>
    <div class="col-sm-3">
        <app-routes-card></app-routes-card>
    </div>
    <div class="col-sm-3">
        <app-routes-card></app-routes-card>
    </div>
    <div class="col-sm-3">
        <app-routes-card></app-routes-card>
    </div>
    <div class="col-sm-3">
        <app-routes-card></app-routes-card>
    </div>
    <div class="col-sm-3">
        <app-routes-card></app-routes-card>
    </div>
    <div class="col-sm-3">
        <app-routes-card></app-routes-card>
    </div>
    <div class="col-sm-3">
        <app-routes-card></app-routes-card>
    </div>
 </div>