<div class="row ">
    <div class="d-flex justify-content-center slideR">
        <div class="col-sm-6">
            <p style="font-size: 2em;"><strong>Проверьте, все верно?</strong></p>
            <p style="font-size: 1.6em;">{{ticketData?.starPoint}} - {{ticketData?.endPoint}}</p>
            <p style="font-size: 1.6em;">Дата и время поездки: {{ ticketData?.date | date:'d MMMM, yyyy' }}, в {{ schedule }}</p>
            <p style="font-size: 1.6em;">Стоимость билета: {{ticketData?.price}} сум</p>
            <br>
            <button class="btn btn-primary">Да</button>
            <button class="btn btn-primary" style="margin-left: 14px;" routerLink="/">Нет</button>
        </div>
      
    </div>

</div>




