<div class="container">
    <p class="mytext"><b>Карьера в компании "IBus"</b></p>
    <p class="ptext">
      Мы рады, что вы интересуетесь возможностями карьерного роста в компании "<b>IBus</b>". Мы являемся динамичной и инновационной компанией, постоянно развивающейся и стремящейся к достижению новых высот. Если вы ищете возможность принять участие в нашем успехе и внести свой вклад в развитие транспортной индустрии, то вы находитесь в нужном месте!
    </p>
    <p class="mytext">Наши ценности:</p>
    <p class="ptext">В "<b>IBus</b>" мы ценим таланты, творчество и коллективный дух. Наша команда состоит из высококвалифицированных профессионалов, которые разделяют общие ценности:</p>
    <ul>
        <li>
             Мы стремимся быть на переднем крае индустрии и постоянно внедряем новые идеи и технологии.
        </li>
        <li>
             Мы гордимся предоставлением высокого уровня сервиса и стремимся превзойти ожидания наших клиентов.
        </li>
        <li>
            Мы ценим коллаборацию, взаимовыручку и поддержку внутри нашей команды.
        </li>
        <li>
            Мы поддерживаем профессиональный и личностный рост наших сотрудников и предоставляем им возможности для обучения и развития.
        </li>
    </ul>
    <p class="mytext">Вакансии:</p>
    <p class="ptext">Мы постоянно ищем талантливых и мотивированных людей, готовых присоединиться к нашей команде. Вот некоторые из вакансий, которые мы в данный момент предлагаем:</p>
    <hr>
    <p class="ultext">Водитель</p>
    <ul>
        <p class="mb-0 ultext">Требования:</p>
        <li>
            Водительские права категории B.
        </li>
        <li>
            Опыт вождения и действующая лицензия.
        </li>
        <li>
            Знание городской инфраструктуры.
        </li>
        <li>
            Отличные навыки взаимодействия с клиентами и умение общаться на профессиональном уровне.
        </li>
        <li>
            Ответственное отношение к работе и способность справляться с повседневными задачами.
        </li>
    </ul>
    <ul>
        <p class="mb-0 ultext">Обязанности:</p>
        <li>
            Перевозка пассажиров по указанным маршрутам в соответствии с графиком.
        </li>
        <li>
            Обеспечение безопасности пассажиров во время поездки.
        </li>
        <li>
            Обслуживание и взаимодействие с пассажирами, предоставление информации о маршрутах и услугах.
        </li>
        <li>
            Поддержание автомобиля в чистоте и исправности, включая ежедневную проверку технического состояния, заправку и осуществление регулярного технического обслуживания.
        </li>
    </ul>
    <hr>
    <p class="ultext">Менеджер по обслуживанию клиентов</p>
    <ul>
        <p class="mb-0 ultext">Требования:</p>
        <li>
            Опыт работы в области обслуживания клиентов или в смежных областях, демонстрирующий навыки взаимодействия с клиентами.
        </li>
        <li>
            Отличные коммуникативные навыки и умение эффективно общаться как устно, так и письменно.
        </li>
        <li>
            Умение работать в команде и справляться с разнообразными ситуациями.
        </li>
        <li>
            Организационные навыки и способность эффективно управлять временем.
        </li>
    </ul>
    <ul>
        <p class="mb-0 ultext">Обязанности:</p>
        <li>
            Обработка запросов и жалоб клиентов, предоставление информации о услугах.
        </li>
        <li>
            Разрешение возникающих проблем и конфликтных ситуаций с клиентами.
        </li>
        <li>
            Обслуживание и взаимодействие с пассажирами, предоставление информации о маршрутах и услугах.
        </li>
        <li>
            Обработка и учет информации о клиентах в базе данных компании.
        </li>
        <li>
            Предоставление отчетности руководству компании по вопросам обслуживания клиентов.
        </li>
    </ul>
    <hr>
    <p class="ptext">
        Мы также регулярно открываем новые вакансии. Если вам интересно работать в "IBus", но вы не нашли подходящую вакансию в списке, не стесняйтесь связаться с нами и отправить свое резюме. Мы всегда рады встрече с талантливыми людьми.
    </p>
    <p class="mytext">Как подать заявку</p>
    <p class="ptext">
        Если вы заинтересованы в одной из наших вакансий, пожалуйста, отправьте свое резюме и сопроводительное письмо на адрес <b>career&#64;ibus.com.</b> Мы рассмотрим вашу заявку в кратчайшие сроки и свяжемся с вами для дальнейших этапов процессвыбора.
    </p>
    <p class="ptext">Благодарим вас за интерес к компании "ТамТатам" и желаем успеха в вашей карьере. Мы надеемся, что вы найдете у нас вдохновение и возможности для роста и развития.</p>
</div>