
<div class="container">
    <figure>
        <blockquote class="blockquote">
            <h4>О нас</h4>
          <p class="mb-0"><b>Мы</b> - компания "<b>IBus</b>", задаем новые стандарты в сфере транспорта и предлагаем удобные и надежные услуги бронирования и продажи билетов на маршрутки. Наша цель - обеспечить комфорт и безопасность каждому пассажиру, путешествующему с нами.</p>
          <br>
          <p>
            <b>Почему выбирают нас?  </b>
        </p>
        <hr>
        <p>
            Надежность и безопасность: Ваша безопасность - наша главная преоритет. Мы тщательно подбираем наших водителей и регулярно проверяем состояние нашего транспорта, чтобы гарантировать надежность и комфорт во время поездки.
        </p>
        <hr>
        <p>
            Удобство и простота: Мы знаем, что ваше время ценно. Поэтому мы создали удобное веб-приложение, где вы можете легко и быстро бронировать и приобретать билеты на наши маршруты. Простая навигация и интуитивно понятный процесс позволяют вам с легкостью запланировать свою поездку.
        </p>
        <hr>
        <p>
            Широкий выбор маршрутов: Мы предлагаем разнообразные маршруты, чтобы удовлетворить потребности различных пассажиров. Будь то поездка на работу, важная встреча или отдых с семьей и друзьями, у нас всегда есть маршрут, который подойдет именно вам.
        </p>

        </blockquote>
        <br>
        <figcaption class="blockquote-footer">
            Год основания:<cite title="2015">2015</cite>
        </figcaption>

      </figure>
</div>
