<div class="container">
    <div class="row justify-content-center">
        <div class="col-auto">
                <form>
                    <h3 class="text-center">регистрация</h3>
                    <hr>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="UserName" placeholder="Логин">
                        <label for="UserName">Логин</label>
                      </div>
                      <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="phoneNumber" placeholder="Номер тел.">
                        <label for="phoneNumber">Номер тел.</label>
                      </div>
                      <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="city" placeholder="Город">
                        <label for="city">Город</label>
                      </div>
                      <div class="form-floating mb-3">
                        <input type="password" class="form-control" id="password" placeholder="Пароль" autocomplete="off">
                        <label for="password">Пароль</label>
                      </div>
                      <div class="form-floating mb-3">
                        <input type="password" class="form-control" id="confirmPassword" placeholder="Подтвердите пароль" autocomplete="off">
                        <label for="confirmPassword">Подтвердите пароль</label>
                      </div>
                    <br>
                      <div class="text-center mb-3">
                        <button class="btn btn-primary" type="submit">Зарегистрировать</button>
                        <button class="btn btn-default" type="button" routerLink="/">Отмена</button>
                      </div>
                      <div class="row"> 
                        <ul class="text-danger">
                            <li>Ошибка</li>
                        </ul>
                      </div>
                </form>
        </div>
    </div>
</div>