ng-select{
 padding-left: 0;
 
}
::ng-deep .ng-dropdown-panel .ng-dropdown-panel-items {
 padding: 0.75rem 1.5rem;
 width: 100%;
 background-color: #f7f7f9;
 
}
::ng-deep .ng-option {
    color: rgb(0, 0, 0);
    margin-left: 0.75rem 1.5rem;;
    margin-top: 4px;
    font-size: 16px;
}