<div class="container">
    <br>
    <br>
    <figure class="text-center">
        <blockquote class="blockquote">
            <h3>Бронируйте маршрутки - удобно и быстро!</h3>
          <p class="mb-0"><b>Простота и удобство - наше главное преимущество.</b></p>
          <p class="mb-0"><b>Теперь вы можете легко забронировать свои билеты всего в несколько простых шагов. </b></p>
        </blockquote>
        <figcaption class="blockquote-footer">
          IBus
        </figcaption>
      </figure>
  
      <div class="row justify-content-center">
        <div class="col-12 col-sm-3">
          <label class="col-form-label mt-2">От куда?</label>
          <ng-select 
          class="custom"
          [items]="districts"
          bindLabel="title"
          [autofocus]="false"
          bindValue="id"
          [loading]="districtsLoading"
          [placeholder]="'Выберите город'" 
          notFoundText="Элемент не найден" 
          [(ngModel)] ="fromId" 
          name="fromId" 
          (ngModelChange)="(fromIdSelected = true)&&loadRoutForTicked()"> 
          </ng-select>
        </div>
        <div class="col-12 col-sm-3">
          <label class="col-form-label mt-2">Куда?</label>
          <ng-select 
          class="custom"
          [items]="districts"
          bindLabel="title"
          [autofocus]="false"
          bindValue="id"
          [loading]="districtsLoading"
          [placeholder]="'Выберите город'" 
          notFoundText="Элемент не найден" 
          [(ngModel)] ="toId" 
          name="toId" 
          (ngModelChange)="(toIdSelected = true)&&loadRoutForTicked()"> 
          </ng-select>
        </div>
          <div class="col-12 custom col-sm-3">
            <label class="col-form-label mt-2">Когда?</label>
            <input type="text"
            placeholder="Datepicker"
            class="form-control"
            bsDatepicker
            [(bsValue)]="bsDatePickerValue"
            [bsConfig]="bsConfig"
            (bsValueChange)="(dateSelected=true)">
          </div>
          <div class="col-12 col-sm-3">
            <label class="col-form-label mt-2" > Во сколько?</label>
          <ng-select 
          class="custom"
          [items]="schedules"
          bindLabel="title"
          [autofocus]="false"
          bindValue="id"
          [loading]="districtsLoading"
          [placeholder]="'Выберите время'" 
          notFoundText="Элемент не найден" 
          [(ngModel)] ="scheduleId"
          name="scheduleId"
          (ngModelChange)="(scheduleIdSelected = true)&&loadRoutForTicked()"> 
          </ng-select>
          </div>
      </div>
      @if (routeForTicket) {
        <div class="row g-2 mt-4 text-center fade-in ">
          <div class="col-12 col-sm-3" [ngClass]="{'col-sm-4':!(accountService.currentUser$|async)}">
            <h2 class="mt-2">{{routeForTicket.starPoint}}</h2>
          </div>
          <div class="col-12 col-sm-3" [ngClass]="{'col-sm-4':!(accountService.currentUser$|async)}">
            <h2 class="mt-2">{{routeForTicket.endPoint}}</h2>
          </div>
          <div class="col-12 col-sm-3" [ngClass]="{'col-sm-4':!(accountService.currentUser$|async)}">
            <h1 class="mt-2 h1-pulse">{{routeForTicket.price}}сум</h1>
          </div>
          <div class="col-12 col-sm-3" >
            <button class="btn btn-primary" *ngIf="accountService.currentUser$|async" (click)="goToTicketConfirm()">Купить</button>
          </div>
      </div>
      @if(!(accountService.currentUser$|async)){
        <hr>
        <div class="text-center text-focus-in">
          <h3>Билет найден по выбранному направлению! Авторизуйтесь, чтобы приобрести его.</h3>
          <br>
          <button class="btn btn-primary  h1-pulse" routerLink="/login">Авторизация</button>
        </div>
        
    
      }
      }
      @else {
        @if(fromIdSelected&&toIdSelected&&scheduleIdSelected){
          <div class="row mt-4">
            <div class="col-sm-12">
              <h4 class="text-center text-focus-in ">К сожалению, в данный момент не найдено доступных билетов по вашему выбранному направлению. Мы сожалеем за любые неудобства, которые это может вызвать</h4>
            </div>
          </div>
        }
      }
      <br>
      <br>
      <figure class="text-center">
        <blockquote class="blockquote">
          <p class="mb-0">Мы постоянно расширяем свою сеть маршрутов, чтобы предоставить вам больше возможностей для путешествий. </p>
        </blockquote>
        <figcaption class="blockquote-footer">
          <b>Вот некоторые из наших новых маршрутов и лин, доступных для бронирования:</b>
        </figcaption>
      </figure>
      <br>
<app-routes-list></app-routes-list>
</div>
